// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
@import '@ionic/angular/css/core.css';
@import '@ionic/angular/css/normalize.css';
@import '@ionic/angular/css/structure.css';
@import '@ionic/angular/css/typography.css';

@import '@ionic/angular/css/display.css';

:root {
  --ion-background-color: #ffffff;
  --ion-text-color: #000000;
}

body.dark {
  --ion-background-color: #121212;
  --ion-text-color: #ffffff;
  --ion-toolbar-background: #1e1e1e;
  --ion-card-background: #1f1f1f;
}

