<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
    <ion-item>
      <ion-label position="floating">Correo electrónico</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.invalid">
      Ingresa un correo válido.
    </ion-note>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.invalid">
      La contraseña debe tener al menos 6 caracteres.
    </ion-note>

    <ion-item>
      <ion-label position="floating">Confirmar contraseña</ion-label>
      <ion-input type="password" formControlName="confirmPassword"></ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="registerForm.errors?.['notMatching'] && registerForm.get('confirmPassword')?.touched">

      Las contraseñas no coinciden.
    </ion-note>

    <ion-button expand="block" type="submit" [disabled]="registerForm.invalid || loading">
      Registrarse
    </ion-button>

    <ion-text color="danger" *ngIf="errorMessage">
      {{ errorMessage }}
    </ion-text>
  </form>
</ion-content>
